In [11]:
import pandas as pd

In [13]:
csv_path="glassdoor_average_salaries.csv"

salary_df = pd.read_csv(csv_path)

salary_df

,Job Title,Location,Industry,Sector,salary_average
0,data scientist,"New York, NY",Advertising & Marketing,Business Services,16900
1,data scientist,"Chantilly, VA",Research & Development,Business Services,16900
2,data scientist,"Cambridge, MA",Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,16900
3,data scientist,"Overland Park, KS",Healthcare Services & Hospitals,Healthcare,16900
4,data scientist,"San Francisco, CA",Government Agencies,Government,16900
...,...,...,...,...,...
882,senior data scientist,"Fort Belvoir, VA",Enterprise Software & Network Solutions,Information Technology,91500
883,senior data scientist,"Seattle, WA",Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,109000
884,senior data scientist,Remote,Lending,Finance,80000
885,senior data scientist,"Cambridge, MA",Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,80000
886,senior data scientist,"McLean, VA",Government Agencies,Government,80000

In [15]:
salary_df["City"] = salary_df['Location'].str.split(',').str[0]
salary_df["State"] = salary_df['Location'].str.split(', ').str[1]

salary_df

,Job Title,Location,Industry,Sector,salary_average,City,State
0,data scientist,"New York, NY",Advertising & Marketing,Business Services,16900,New York,NY
1,data scientist,"Chantilly, VA",Research & Development,Business Services,16900,Chantilly,VA
2,data scientist,"Cambridge, MA",Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,16900,Cambridge,MA
3,data scientist,"Overland Park, KS",Healthcare Services & Hospitals,Healthcare,16900,Overland Park,KS
4,data scientist,"San Francisco, CA",Government Agencies,Government,16900,San Francisco,CA
...,...,...,...,...,...,...,...
882,senior data scientist,"Fort Belvoir, VA",Enterprise Software & Network Solutions,Information Technology,91500,Fort Belvoir,VA
883,senior data scientist,"Seattle, WA",Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,109000,Seattle,WA
884,senior data scientist,Remote,Lending,Finance,80000,Remote,NaN
885,senior data scientist,"Cambridge, MA",Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,80000,Cambridge,MA
886,senior data scientist,"McLean, VA",Government Agencies,Government,80000,McLean,VA

In [19]:
salary_df["Sector"].nunique()

24

In [20]:
salary_df.to_csv("glassdoor_average_salaries.csv", index=False)