In [1]:
import pandas as pd

In [2]:
csv_path="../Sons_of_Analyst/data_scientist_united_states_job_postings_jobspikr.csv"

kaggle_data_df=pd.read_csv(csv_path)

In [3]:
kaggle_data_df["category"].value_counts()

Computer-or-internet                           1505
computer jobs                                   911
life physical and social science                758
Engineering-or-architecture                     729
Manufacturing-or-mechanical                     632
                                               ...
Principal Data Scientist - NLP                    1
Staff Systems Engineer (Data Scientist NLP)       1
Homeland Security Data Scientist                  1
Data Scientist 5                                  1
Senior Data Scientist - Aerial Imagery            1
Name: category, Length: 366, dtype: int64

In [4]:
kaggle_data_df["job_title"].tolist()

['Enterprise Data Scientist I',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist, Aladdin Wealth Tech, Associate (Modeler)',
 'Senior Data Scientist',
 'CIB – Fixed Income Research – Machine Learning Data Scientist - Securitized Products – Associate/VP',
 'Data Scientist, Licensing Operations',
 'Sr. Data Scientist (Can work on Xoriant W2)',
 'Data Scientist, Aladdin Wealth Tech, Associate',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'ETL Developer / Data Scientist',
 'Research Data Scientist',
 'Data Scientist',
 'Senior Data Scientist :: VK (9)',
 'Senior Data Scientist - W2',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist with Sagemaker Experience | NO OPTs please',
 'Data Scientist / Data Engineer',
 'Data Scientist with Exp in Data Modelling',
 'Data Scientist',
 'Data Scientist needed with solid R and Python skills',
 'Level I Solutions Engineer - Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - Tallahassee, FL - $150k-$170k',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Tampa, FL $110-130K',
 'Data Scientist',
 'Clinical Data Scientist',
 'Sr. Mgr, Data Scientist',
 'Data Scientist Intern, Engineering - Software Development',
 'Data Scientist',
 'Principal Data Scientist (REMOTE)',
 'Data Scientist - Risk',
 'Data Scientist I',
 'Level I Solutions Engineer - Data Scientist',
 'Jr Data Scientist',
 'Data Scientist (Face to Face)',
 'Data Scientist / Machine Learning',
 'Data Scientist Position @ South San Francisco CA (F2F interview is Mandatory)',
 'Data Scientist',
 'Data Scientist (InPerson Interview Required)',
 'Data Scientist',
 'Sr Data Scientist',
 'Data Scientist',
 'Sr. Data Analyst/Data Scientist',
 'Data Engineer/Data Scientist (Python OR R AND SQL)',
 'Data Scientist with Atomic Reach',
 'Sr Data scientist at San Jose, CA (No third party)',
 'Need Data Scientist - San Jose CA',
 'Data Scientist',
 'Data Scientist Tibco Suite',
 'Data Scientist(Analyst)',
 'Junior Data Scientist',
 'Data Scientist',
 'Data Scientist (New Graduate)',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist Lead',
 'Data Scientist, R, Python, ML, Deep learning',
 'Data Scientist',
 'Data Scientist - Machine Learning Engineer',
 'Data Scientist II',
 'Data Modeler/Data Scientist at Houston,TX',
 'Data Scientist 2019',
 'Staff Data Scientist-Houston, TX',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Clinical Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Engineer II - Distributed Generation Data Scientist',
 'Data Scientist Advisor',
 'Data Scientist (Forecasting)',
 'Data Scientist- Walmart International Finance Transformation',
 'Associate Data Scientist',
 'Machine Learning Data Scientist',
 'Data Scientist',
 'Data Scientist - Risk',
 'Data Scientist',
 'Delivery Data Scientist, Diverse Industry Solutions, Data & AI, Microsoft Services',
 'MS Excel Developer/Data Scientist',
 'SR Machine Learning Data Scientist - Computer Software - $160k',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist (Face to Face)',
 'Senior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - Mental health start up!',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Machine Learning Engineer/Data Scientist',
 'Senior Data Scientist - ZC1',
 'Data Scientist',
 'Data Scientist ( healthcare )',
 'Senior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Engineer/Data Scientist (Python OR R AND SQL AND Healthcare)',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Advanced Analytics',
 'Data Scientist (19-07)',
 'Data Scientist',
 'Data Scientist Job',
 'Sr. Data Scientist',
 'Lead Data Scientist/Solution Architect',
 'Sr. Data Scientist',
 'Junior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist====Multiple location , WA and TX',
 'Data Scientist Analyst',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Clinical Data Scientist',
 'Data scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Sr. Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist | AI Cyber Security Firm (RELOCATION ASSISTANCE!)',
 'Sr. Data Scientist (Statistical & Python)',
 'Data Scientist II',
 'Lead Data Scientist - CNN, Deep Learning - RELOCATION OFFERED!',
 'Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist /Engineer',
 'SENIOR DATA SCIENTIST- AWS- MINNESOTA-$160K- UNLIMITED PTO',
 'Data Scientist - New York/New Jersey area',
 'Data Scientist III',
 'Senior Data Scientist, Business Analytics',
 'Sr. Predictive Data Scientist (Data Scientist 4)',
 'Senior Data Scientist - Analytics',
 'Data Scientist - Risk',
 'Data Scientist',
 'Senior Data Scientist - Modeling',
 'Data Scientist 4',
 'Data Scientist',
 'Data Scientist, Mid',
 'Data Scientist HR Analytics',
 'Data Scientist I',
 'Data Scientist II',
 'Data Scientist',
 'Data Scientist',
 'Jr. Data Scientist',
 'Data Scientist (Insurance) - Python, SAS, GLM',
 'Senior Data Scientist',
 'Data Scientist, Client Services',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist',
 'Digital Supply Chain Data Scientist',
 'Data Scientist - U.S. Travel Agency and/or Airline Experience',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist With python',
 'Data Scientist',
 'Senior Data Integration Developer/ Data Scientist',
 'Data Scientist, Analytics - Watch Ecosystem',
 'Sr. Data Scientist',
 'Data Scientist',
 'Data Analyst / Data Scientist',
 'Data Scientist',
 'Military Engines Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist-Princeton, NJ-$170k',
 'Data Scientist II',
 'Lead Data Scientist',
 'Data Scientist',
 'Sr Data Scientist',
 'Data Scientist',
 'Data Analyst/Data Scientist',
 'Senior Data Scientist, Business Analytics',
 'Data Scientist - Risk',
 'Senior Data Scientist, Business Analytics',
 'Security Data Scientist',
 'Lead Data Scientist',
 'Electric Vehicle Infrastructure Modeling and Data Scientist III',
 'Senior Data Scientist',
 'AWS Big Data Scientist - Chicago, IL - $90 - $110 per hour',
 'Senior Data Scientist',
 'Data Scientist - Health Analytics',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist (Machine Learning) - Biotech',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Sr. Data Scientist',
 'Pre-Sales, Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist - Risk',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Principal Data Scientist',
 'Deputy Lead Data Scientist',
 'Data Scientist',
 'Data Scientist - Machine Vision, OCR',
 'Data Scientist- Data Modeling/Analytics, Python, R, AWS RedShift',
 'Architect / Lead Data Scientist (InPerson Interview Required)',
 'Principal Data Scientist',
 'Data Scientist (R/Python)',
 'Lead Data Scientist - Advertisement Technology',
 'Senior Data Scientist',
 'Principal Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist Tampa, FL $110-130K',
 'Summer Internship: Research Data Scientist Intern',
 'Data Scientist - Risk',
 'Sr. Data Scientist',
 'Data Scientist/Excel Developer',
 'Data Scientist, Life Experience Studies',
 'Data Scientist, Conversations',
 'Summer Internship: Research Data Scientist Intern',
 'Data Scientist',
 'Junior Data Scientist',
 'Data Scientist, Multiple Location, Full Time/Contract',
 'Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist at San Jose CA',
 'Data Scientist Lead (R and Python)',
 'Senior Data Scientist (Machine Learning) - Biotech',
 'Data Engineer/Data Scientist (Remote)',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist Lead',
 'Sr Data Scientist',
 'Data Scientist',
 'Data Scientist Lead',
 'Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Junior Data Scientist',
 'Data Scientist',
 'Data Scientist - Machine Learning',
 'Data Scientist - Risk',
 'Data Scientist',
 'Data Scientist - Client Facing',
 'Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Clinical Data Scientist',
 'Lead Data Scientist',
 'Senior Data Scientist',
 'Staff Data Scientist',
 'Data Scientist Lead',
 'Associate Data Scientist/Data Scientist',
 'Data Scientist',
 'Data Scientist, Point of Sale & Customers',
 'Data Scientist Lead',
 'Data Scientist',
 'Hiring for a Data Scientist/Data Architect in OKC!',
 'Data Scientist/Excel Developer',
 'Data Scientist',
 'Data Scientist - Livermore, CA',
 'Senior Associate Data Scientist',
 'NLP Data Scientist',
 'Machine Learning Lead/DATA Scientist',
 'Sr. Data Scientist',
 'AI & Machine Learning Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Principal Data Scientist',
 'Data Scientist - Direct Hire / Full Time / Perm',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist (with Tableau, data analytics)',
 'Data Scientist - Machine Vision, OCR',
 'Data Scientist / Data Engineer ( healthcare )',
 'Data Scientist- Data Modeling/Analytics, Python, R, AWS RedShift',
 'Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Senior Manager',
 'Data Scientist, Analytics - Machine Translation',
 'Data Scientist I - Remote',
 'Data Scientist - Senior Consultant',
 'Data Scientist',
 'Enterprise Data Scientist (PERM)',
 'Data Scientist - New York',
 'Data Scientist (PERM)',
 'Data Scientist Manager - New York!',
 'Data Scientist',
 'Data Scientist II',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist : Houston, TX',
 'New - Data Scientist Role in Bothell, WA',
 'Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist Analyst',
 'Senior Data Scientist',
 'Clinical Data Scientist',
 'Principal Data Scientist - $185K - Chicago',
 'Data Scientist',
 'Data Scientist/Reporting & Analytics Consultant',
 'SR Data Scientist',
 'D3 Sr Data Scientist - Model Validation',
 'Senior Data Scientist (PERM)',
 'Principal Data Scientist',
 'AWS Big Data Scientist - Chicago, IL - $90 - $110 per hour',
 'Data Scientist - Senior',
 'NLP Data Scientist',
 'Data Scientist SME',
 'Data Scientist GPS',
 'Image Data Scientist',
 'Data Scientist',
 'Core Data Scientist',
 'Data Scientist - Client Facing',
 'AI & Machine Learning Data Scientist',
 'Data Scientist- Customer Experience (Engagement Manager) (80% Travel)',
 'Machine Learning or Data Scientist',
 'Data Scientist with Machine Learning',
 'Data scientist',
 'Data Scientist with .Net',
 'Data Scientist',
 'Data - Data Scientist BHJOB11946_357478',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Deep Learning',
 'Data Scientist',
 'Data Scientist',
 'Data scientist Immediate Interviews',
 'Data Scientist@Downers Grove, IL',
 'Data Scientist',
 'Lead Data Scientist',
 'Sr. Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Clinical Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist | AI Cyber Security Firm (RELOCATION ASSISTANCE!)',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'JL6 LCON-Data Scientist',
 'Data Scientist(s)/Machine Learning Engineer',
 'Sr. Data Scientist',
 'Data Scientist Systems Engineer',
 'Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist',
 'Senior Data Scientist, Healthcare',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist/Developer I',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist (2019 Summer Intern)',
 'SAS Data Scientist',
 'Sr. Data Scientist',
 'Sr Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Sr. Data Scientist, Real - time Bidding',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Intern',
 'Data Scientist',
 'Data Scientist position in Bothell, WA',
 'Sr. Data Scientist',
 'Data Scientist with IVR',
 'Data Scientist in Seattle WA',
 'Chief Data Scientist',
 'Data Scientist-Full Scope Polygraph is required',
 'Data Scientist - Python / Santa Clara, CA / 12 Months Contract',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist II',
 'Data Scientist',
 'Lead Data Scientist',
 'Clinical Data Scientist',
 'Lead Data Scientist - Los Angeles - $150k',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - Modeling',
 'Senior Director I, Data Scientist',
 'Senior Data Scientist (Remote)',
 'Data Scientist Intern',
 'Data Scientist - Risk',
 'Principal Data Scientist (REMOTE)',
 'Machine learning/Data Scientist- Engineer',
 'Lead Data Scientist - Remote - $140-170K',
 'Data Scientist II',
 'Vice President - Data Scientist',
 'Senior Data Scientist',
 'Data Scientist (1 Lead & 1 Sr ) Skype Hire',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Sr. Data Scientist',
 'Senior Data Scientist (Economics)',
 'Sr. Data Scientist/Data Analyst (SAS)',
 'Data Scientist II',
 'Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Client Facing',
 'Data Scientist - Client Facing',
 'Data Scientist - Houston, TX / 6+Months contract to hire opportunity',
 'Data Scientist III',
 'Supply Chain Data Scientist / Analyst',
 'Data Scientist',
 'Data Scientist - Python, R, ETL - DC',
 'Sr. Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Clinical Data Scientist (Manager) [Mandarin proficiency preferred]',
 'Clinical Data Scientist',
 'SENIOR DATA SCIENTIST- LOS ANGELES',
 'Principal Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Junior Data Scientist',
 'Senior Data Scientist (Remote)',
 'Senior Data Scientist',
 'Data Scientist (SE6)',
 'Data Scientist - Risk',
 'Senior Data Scientist - Healthcare, Predictive Analytics',
 'Senior Data Scientist',
 'Principal Data Scientist (REMOTE)',
 'Data & Analytics Innovation Principal Data Scientist',
 'Staff Data Scientist',
 'Data Scientist - Start Up Opportunity - Colorado',
 'AWS Big Data Scientist - Chicago, IL - $90 - $110 per hour',
 'Database Architect/Data Scientist',
 'Sr Data Scientist',
 'Data Scientist (Insurance) - Python, SAS, GLM',
 'Data Scientist I - Agent Based Modeler (Java/Python)',
 'Data Scientist Systems Engineer',
 'Marketing Data Scientist Intern',
 'Data Scientist',
 'Sr. Data Scientist',
 'Sr Data Scientist',
 'Data Scientist - Risk',
 'Population Health Data Scientist',
 'Data Scientist (SCADA/OT Focus)',
 'Data Scientist I - Phoenix, AZ',
 'Data Scientist, Engagement',
 'Lead Data Scientist',
 'Junior Data Scientist',
 'Data Scientist - Finance, Actuarial and Product Analytics',
 'Data Scientist',
 'Data Scientist, Engagement',
 'Data Scientist, Redtech',
 'Client-Facing Applied Data Scientist',
 'Data Scientist (R/Python)',
 'Lead Data Scientist - Advertisement Technology',
 'Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist - Risk',
 'Machine Learning AI Data Scientist and Engineer',
 'Data Scientist',
 'Data Scientist Consultant - Midwest region',
 'Data Scientist - Richmond, Virginia (VA)',
 'Data Scientist, VPICU',
 'Data Scientist - Richmond, Virginia (VA)',
 'Sr Data Scientist',
 'Data Scientist / Machine Learning',
 'Data Scientist/ CTO- North Brunswick, NJ- $150k',
 'Data Scientist',
 'Senior Data Scientist (Machine Learning) - Biotech',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist /Data Analyst',
 'Data Scientist Lead',
 'Data Scientist/Consultant',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist (SME) POLY REQUIRED',
 'Data Scientist SME',
 'Siri - Data Scientist, Data organization',
 'Data Scientist, Applied Systems',
 'Data Scientist - Risk',
 'Data Scientist, Applied Systems',
 'Data Scientist',
 'Data Scientist (SME) POLY REQUIRED',
 'DATA SCIENTIST',
 'Data Scientist',
 'Data Scientist, Applied Systems',
 'Data Scientist - Expert',
 'Data Scientist',
 'Data Scientist SME',
 'Statistician/Data Scientist',
 'Data Scientist - Senior',
 'Senior Data Scientist',
 'Data Scientist-Journeyman-TS/SCI with Poly REQUIRED-Springfield, VA',
 'Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist, Analytics and Advertising in Greenwich, Connecticut | Careers at Interacti...',
 'Clinical Data Scientist',
 'Lead Data Scientist',
 'Junior Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Sr. Solutions Engineer - Data Scientist',
 'Data Scientist',
 'Data Scientist 4',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Azure Data Scientist - Boston (MA) - Opportunity for remote!',
 'Data Scientist',
 'SENIOR DATA SCIENTIST- AWS- MINNESOTA-$160K- REMOTE',
 'Sr. Data Scientist - Zoro',
 'Data Scientist Senior',
 'Data Scientist I',
 'Data Scientist/ Machine Learning Research Professional',
 'Data Scientist - Senior Associate',
 'Data Scientist Senior',
 'Data Scientist/ CTO- North Brunswick, NJ- $150k',
 'Junior Data Scientist Internship',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Principal Data Scientist',
 'Data Scientist',
 'AWS Data Scientist',
 'Data Scientist',
 'Data Scientist / Data Analytics SME',
 'Data Scientist',
 'Data Scientist',
 'LansingSenior Level Data Scientist/Data Analyst',
 'Data Scientist',
 'Data Scientist Jr',
 'Sr Data Scientist With NLP',
 'Data Scientist, Commercial Analytics',
 'Sr. Data Scientist',
 'Data Scientist - Artificial Intelligence - PS15866',
 'Data Scientist – Personalization',
 'Sr. Data Scientist',
 'Data Scientist (Locals & Drivables Preferred)',
 'Data Scientist with Computer Vision/Image Processing in Seattle WA',
 'AI/Data Scientist',
 'Data Scientist',
 'Data Scientist- Partial Remote',
 'Data Scientist',
 'BI Developer & Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - x2 - Austin, TX',
 'Data Scientist',
 'Data Scientist',
 'Clinical Data Scientist',
 'SENIOR DATA SCIENTIST - Los Angeles, CA',
 'Big Data Scientist',
 'Senior Level Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist III',
 'Data Scientist',
 'Data Scientist/Machine Learning Engineer',
 'Senior Data Scientist, Commercial Analytics',
 'Data Scientist/Developer',
 'AWS Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist with AWS Strong Experience',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist, Healthcare',
 'Data Scientist',
 'DATA SCIENTIST',
 'Senior Data Scientist - Healthcare, Predictive Analytics',
 'Cyber Hunt Analyst / Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Sr. Data Scientist',

In [5]:
kaggle_data_df["job_title"] = kaggle_data_df.job_title.str.lower()
kaggle_data_df

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_description,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description
0,2019-02-06 05:26:22 +0000,https://www.indeed.com/viewjob?jk=fd83355c2b23...,enterprise data scientist i,Accounting/Finance,Farmers Insurance Group,Woodland Hills,CA,Usa,Woodland hills,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819114777,NaN,NaN,3b6c6acfcba6135a31c83bd7ea493b18,NaN
1,2019-02-06 05:33:41 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,data scientist,NaN,Luxoft USA Inc,Middletown,NJ,Usa,Middletown,New jersey,...,We have an immediate opening for a Sharp Data ...,Undefined,NaN,dice,usa,1549432819122106,NaN,NaN,741727428839ae7ada852eebef29b0fe,NaN
2,2019-02-06 05:33:35 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,data scientist,NaN,Cincinnati Bell Technology Solutions,New York,NY,Usa,New york,New york,...,Candidates should have the following backgroun...,Full Time,NaN,dice,usa,1549432819236156,NaN,NaN,cdc9ef9a1de327ccdc19cc0d07dbbb37,NaN
3,2019-02-06 05:33:42 +0000,https://www.indeed.com/viewjob?jk=841edd86ead2...,"data scientist, aladdin wealth tech, associate...",Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819259473,NaN,NaN,1c8541cd2c2c924f9391c7d3f526f64e,NaN
4,2019-02-06 05:48:23 +0000,https://job-openings.monster.com/senior-data-s...,senior data scientist,biotech,CyberCoders,Charlotte,NC,Usa,Charlotte,North carolina,...,We are seeking an extraordinary Data Scientist...,Full Time,NaN,monster,usa,1549436429015957,NaN,NaN,445652a560a5441060857853cf267470,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2019-09-29 00:55:15 +0000,https://stackoverflow.com/jobs/271829,data scientist,Data Scientist,Upstart,Columbus,NaN,US,Columbus,Wisconsin,...,Join Upstart and help build the future of cred...,Full Time,$100k - 135k | Equity,Stackoverflow,NaN,1569916870107016,NaN,NaN,e9f2ca58c7abcd4553a4a0be9602312e,<h2>About this job</h2>\r\n<p><span>Compensati...
9996,2019-10-01 00:50:33 +0000,https://stackoverflow.com/jobs/283895,"data scientist, (staff or principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916870211396,NaN,NaN,efe05f2364ee3df943e952bc68ed95a7,<h2>About this job</h2>\r\n<p><span>Location o...
9997,2019-09-26 00:53:10 +0000,https://stackoverflow.com/jobs/293326,"siri - embedded data scientist, data organization","Data Scientist, Embedded Developer",Apple Inc.,Pittsburgh,NaN,US,Pittsburgh,Pennsylvania,...,Job Summary: Would you like to play a part in ...,Full Time,NaN,Stackoverflow,NaN,1569916870956579,NaN,NaN,b980054dbb6d3fe1c6a421a237d1495f,NaN
9998,2019-09-27 00:41:31 +0000,https://stackoverflow.com/jobs/283895,"data scientist, (staff or principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916871226964,NaN,NaN,4b86da9d2b24b87ec3c815d9072ad616,<h2>About this job</h2>\r\n<p><span>Location o...
9999,2019-09-27 00:53:10 +0000,https://stackoverflow.com/jobs/283895,"data scientist, (staff or principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916871314055,NaN,NaN,4cbe57f790e3346d7154b68c9370b7ef,<h2>About this job</h2>\r\n<p><span>Location o...

In [6]:
groups=kaggle_data_df.groupby(["job_title"]).count()

In [7]:
jrs=kaggle_data_df[kaggle_data_df["job_title"].str.contains("jr|junior|entry|associate")]
jrs["job_title"]="junior data scientist"
jrs

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_description,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description
3,2019-02-06 05:33:42 +0000,https://www.indeed.com/viewjob?jk=841edd86ead2...,junior data scientist,Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819259473,NaN,NaN,1c8541cd2c2c924f9391c7d3f526f64e,NaN
5,2019-02-06 05:36:06 +0000,https://www.indeed.com/viewjob?jk=14fa3772cd5f...,junior data scientist,Accounting/Finance,JP Morgan Chase,New York,NY 10179 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436429033307,NaN,NaN,9571ec617ba209fd9a4f842973a4e9c8,NaN
8,2019-02-06 05:34:18 +0000,https://www.indeed.com/viewjob?jk=0fc298b9f3a8...,junior data scientist,Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436429066810,NaN,NaN,80d64b46bc7c89602f63daf06b9f1b4c,NaN
48,2019-02-07 05:29:42 +0000,https://www.dice.com/jobs/detail/Jr-Data-Scien...,junior data scientist,NaN,Hamilton Technical Personnel,New York,NY,Usa,New york,New york,...,This position requires corporate experience an...,Full Time,NaN,dice,usa,1549519218250814,NaN,NaN,e8c1c747edb8003aec87a7f17f21a216,NaN
65,2019-02-07 06:23:48 +0000,https://www.indeed.com/viewjob?jk=0141013576c9...,junior data scientist,Computer/Internet,Cisco Careers,Research Triangle Park,NC,Usa,NaN,North carolina,...,What You'll Do\n\nYou will be part of the Cust...,Undefined,NaN,indeed,usa,1549522825712152,NaN,NaN,ea67f8f42a6fa593ce7acefddd8aef2e,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9681,2019-09-25 06:32:39 +0000,https://www.theladders.com/job/junior-data-sci...,junior data scientist,Junior Data Scientist,Edison International,Rosemead,CA,US,Rosemead,California,...,About Customer Service Southern California Edi...,Full Time,$80K - $100K,NaN,NaN,1569394867744930,NaN,NaN,a695942e1ee552c4ad73531873607551,"<div class=""job-description job-description-te..."
9748,2019-09-27 05:03:22 +0000,https://www.theladders.com/job/junior-data-sci...,junior data scientist,Junior Data Scientist,Jobspring,Arlington,VA,US,Arlington,Virginia,...,Junior Data Scientist A Data Science firm in t...,Full Time,$80K - $150K,NaN,NaN,1569564065855454,NaN,NaN,0dd0dd9159528b34ccfbdaea9a3a0b8c,"<div class=""job-description job-description-te..."
9847,2019-09-28 01:58:25 +0000,https://www.careerbuilder.com/job/J3R3GN6086FB...,junior data scientist,NaN,"TEKsystems, Inc",Charlotte,NC,US,Charlotte,North carolina,...,: The Data Scientist will be responsible in as...,Full Time,NaN,careerbuilder,usa,1569639668340350,NaN,NaN,38d3c43e41fccd6e9ff3b52f95b17285,<strong>Job Description</strong>\n<p></p><p><s...
9898,2019-09-29 06:52:26 +0000,https://www.theladders.com/job/associate-data-...,junior data scientist,Associate Data Scientist,Daymon Worldwide,Grand Rapids,MI,US,Grand rapids,Michigan,...,"Data Scientist At our Company, we grow People,...",Full Time,$80K - $100K,NaN,NaN,1569740470122411,NaN,NaN,d742a7e6a4be1a979c136336c5b86a41,"<div class=""job-description job-description-te..."
9971,2019-10-01 02:55:23 +0000,https://job-openings.monster.com/associate-dat...,junior data scientist,computer jobs,AIC,Neptune Beach,FL,Usa,Neptune beach,Florida,...,Job Title: Associate Data Scientist\nLocation:...,Full Time,NaN,monster,usa,1569902445785343,NaN,NaN,51505c25d32452edab456cef25e4e898,<span id='TrackingJobBody' name='TrackingJobBo...

In [8]:
seniors=kaggle_data_df[kaggle_data_df["job_title"].str.contains("senior|lead|principal")]
seniors["job_title"]="senior data scientist"
seniors

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_description,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description
4,2019-02-06 05:48:23 +0000,https://job-openings.monster.com/senior-data-s...,senior data scientist,biotech,CyberCoders,Charlotte,NC,Usa,Charlotte,North carolina,...,We are seeking an extraordinary Data Scientist...,Full Time,NaN,monster,usa,1549436429015957,NaN,NaN,445652a560a5441060857853cf267470,NaN
15,2019-02-06 06:38:53 +0000,https://www.dice.com/jobs/detail/Senior-Data-S...,senior data scientist,NaN,"Pyramid Consulting, Inc.",Mclean,VA,Usa,Mclean,Virginia,...,Immediate need for Senior Data Scientist with ...,Undefined,NaN,dice,usa,1549436430692033,NaN,NaN,db8d5a77e8107823b26d628fbcfff234,NaN
16,2019-02-06 06:39:37 +0000,https://www.dice.com/jobs/detail/Senior-Data-S...,senior data scientist,NaN,Orpine.com,Boston,MA,Usa,Boston,Massachusetts,...,Work Authorization: Only US Citizen's & Green ...,Contract,NaN,dice,usa,1549436430855000,NaN,(678) 956-6975,82fca6adf2dd82f5c990ae3304401f31,NaN
24,2019-02-06 06:53:19 +0000,https://www.dice.com/jobs/detail/Senior-Data-S...,senior data scientist,NaN,"Sysmind, LLC",Dallas,TX,Usa,Dallas,Texas,...,Position : Senior Data Scientist Location : Da...,Undefined,NaN,dice,usa,1549440023901655,NaN,(609) 897-9670,9bde219210317a59627f4b15ea08370b,NaN
33,2019-02-06 07:30:12 +0000,https://www.careerbuilder.com/job/J3M2F963CC58...,senior data scientist,business and financial operations,Jefferson Frank,Tallahassee,FL,Usa,Tallahassee,Florida,...,My client is a leader in the Manufacturing ver...,Full Time,NaN,careerbuilder,usa,1549440025100072,NaN,813 437 6882,d33577ea9ae09c58d77e1fab2c012ba2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9980,2019-10-01 02:59:10 +0000,https://job-openings.monster.com/senior-data-s...,senior data scientist,computer jobs,CyberCoders,Madison,NJ,Usa,Madison,New jersey,...,Senior Data Scientist \n Senior Data Scientist...,Undefined,NaN,monster,usa,1569902446223316,NaN,NaN,8686167d02de0df452e8a927396bfcd1,Senior Data Scientist <div><!--START_SECTION_1...
9993,2019-09-28 00:56:24 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916869271418,NaN,NaN,2bb830621baea73276f8a653e0ab92fe,<h2>About this job</h2>\r\n<p><span>Location o...
9996,2019-10-01 00:50:33 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916870211396,NaN,NaN,efe05f2364ee3df943e952bc68ed95a7,<h2>About this job</h2>\r\n<p><span>Location o...
9998,2019-09-27 00:41:31 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916871226964,NaN,NaN,4b86da9d2b24b87ec3c815d9072ad616,<h2>About this job</h2>\r\n<p><span>Location o...
9999,2019-09-27 00:53:10 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916871314055,NaN,NaN,4cbe57f790e3346d7154b68c9370b7ef,<h2>About this job</h2>\r\n<p><span>Location o...

In [9]:
frames=[jrs, seniors]

In [10]:

jrs_seniors=pd.concat(frames)

In [11]:
jrs_seniors

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_description,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description
3,2019-02-06 05:33:42 +0000,https://www.indeed.com/viewjob?jk=841edd86ead2...,junior data scientist,Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819259473,NaN,NaN,1c8541cd2c2c924f9391c7d3f526f64e,NaN
5,2019-02-06 05:36:06 +0000,https://www.indeed.com/viewjob?jk=14fa3772cd5f...,junior data scientist,Accounting/Finance,JP Morgan Chase,New York,NY 10179 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436429033307,NaN,NaN,9571ec617ba209fd9a4f842973a4e9c8,NaN
8,2019-02-06 05:34:18 +0000,https://www.indeed.com/viewjob?jk=0fc298b9f3a8...,junior data scientist,Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436429066810,NaN,NaN,80d64b46bc7c89602f63daf06b9f1b4c,NaN
48,2019-02-07 05:29:42 +0000,https://www.dice.com/jobs/detail/Jr-Data-Scien...,junior data scientist,NaN,Hamilton Technical Personnel,New York,NY,Usa,New york,New york,...,This position requires corporate experience an...,Full Time,NaN,dice,usa,1549519218250814,NaN,NaN,e8c1c747edb8003aec87a7f17f21a216,NaN
65,2019-02-07 06:23:48 +0000,https://www.indeed.com/viewjob?jk=0141013576c9...,junior data scientist,Computer/Internet,Cisco Careers,Research Triangle Park,NC,Usa,NaN,North carolina,...,What You'll Do\n\nYou will be part of the Cust...,Undefined,NaN,indeed,usa,1549522825712152,NaN,NaN,ea67f8f42a6fa593ce7acefddd8aef2e,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9980,2019-10-01 02:59:10 +0000,https://job-openings.monster.com/senior-data-s...,senior data scientist,computer jobs,CyberCoders,Madison,NJ,Usa,Madison,New jersey,...,Senior Data Scientist \n Senior Data Scientist...,Undefined,NaN,monster,usa,1569902446223316,NaN,NaN,8686167d02de0df452e8a927396bfcd1,Senior Data Scientist <div><!--START_SECTION_1...
9993,2019-09-28 00:56:24 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916869271418,NaN,NaN,2bb830621baea73276f8a653e0ab92fe,<h2>About this job</h2>\r\n<p><span>Location o...
9996,2019-10-01 00:50:33 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916870211396,NaN,NaN,efe05f2364ee3df943e952bc68ed95a7,<h2>About this job</h2>\r\n<p><span>Location o...
9998,2019-09-27 00:41:31 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916871226964,NaN,NaN,4b86da9d2b24b87ec3c815d9072ad616,<h2>About this job</h2>\r\n<p><span>Location o...
9999,2019-09-27 00:53:10 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916871314055,NaN,NaN,4cbe57f790e3346d7154b68c9370b7ef,<h2>About this job</h2>\r\n<p><span>Location o...

In [12]:
jrs_seniors.reset_index(inplace=True)
jrs_seniors

,index,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,...,job_description,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description
0,3,2019-02-06 05:33:42 +0000,https://www.indeed.com/viewjob?jk=841edd86ead2...,junior data scientist,Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819259473,NaN,NaN,1c8541cd2c2c924f9391c7d3f526f64e,NaN
1,5,2019-02-06 05:36:06 +0000,https://www.indeed.com/viewjob?jk=14fa3772cd5f...,junior data scientist,Accounting/Finance,JP Morgan Chase,New York,NY 10179 (Midtown area),Usa,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436429033307,NaN,NaN,9571ec617ba209fd9a4f842973a4e9c8,NaN
2,8,2019-02-06 05:34:18 +0000,https://www.indeed.com/viewjob?jk=0fc298b9f3a8...,junior data scientist,Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436429066810,NaN,NaN,80d64b46bc7c89602f63daf06b9f1b4c,NaN
3,48,2019-02-07 05:29:42 +0000,https://www.dice.com/jobs/detail/Jr-Data-Scien...,junior data scientist,NaN,Hamilton Technical Personnel,New York,NY,Usa,New york,...,This position requires corporate experience an...,Full Time,NaN,dice,usa,1549519218250814,NaN,NaN,e8c1c747edb8003aec87a7f17f21a216,NaN
4,65,2019-02-07 06:23:48 +0000,https://www.indeed.com/viewjob?jk=0141013576c9...,junior data scientist,Computer/Internet,Cisco Careers,Research Triangle Park,NC,Usa,NaN,...,What You'll Do\n\nYou will be part of the Cust...,Undefined,NaN,indeed,usa,1549522825712152,NaN,NaN,ea67f8f42a6fa593ce7acefddd8aef2e,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2815,9980,2019-10-01 02:59:10 +0000,https://job-openings.monster.com/senior-data-s...,senior data scientist,computer jobs,CyberCoders,Madison,NJ,Usa,Madison,...,Senior Data Scientist \n Senior Data Scientist...,Undefined,NaN,monster,usa,1569902446223316,NaN,NaN,8686167d02de0df452e8a927396bfcd1,Senior Data Scientist <div><!--START_SECTION_1...
2816,9993,2019-09-28 00:56:24 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916869271418,NaN,NaN,2bb830621baea73276f8a653e0ab92fe,<h2>About this job</h2>\r\n<p><span>Location o...
2817,9996,2019-10-01 00:50:33 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916870211396,NaN,NaN,efe05f2364ee3df943e952bc68ed95a7,<h2>About this job</h2>\r\n<p><span>Location o...
2818,9998,2019-09-27 00:41:31 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916871226964,NaN,NaN,4b86da9d2b24b87ec3c815d9072ad616,<h2>About this job</h2>\r\n<p><span>Location o...
2819,9999,2019-09-27 00:53:10 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916871314055,NaN,NaN,4cbe57f790e3346d7154b68c9370b7ef,<h2>About this job</h2>\r\n<p><span>Location o...

In [13]:
drop_jrs_seniors=jrs_seniors["index"].tolist()

In [14]:
drop_jrs_seniors

[3,
 5,
 8,
 48,
 65,
 95,
 133,
 175,
 262,
 285,
 303,
 312,
 501,
 528,
 583,
 602,
 605,
 623,
 742,
 769,
 796,
 800,
 804,
 844,
 913,
 914,
 918,
 924,
 937,
 938,
 945,
 949,
 952,
 973,
 994,
 999,
 1065,
 1117,
 1148,
 1150,
 1179,
 1186,
 1226,
 1236,
 1237,
 1255,
 1278,
 1298,
 1301,
 1323,
 1325,
 1331,
 1345,
 1363,
 1400,
 1401,
 1411,
 1453,
 1524,
 1536,
 1538,
 1572,
 1577,
 1597,
 1619,
 1645,
 1669,
 1698,
 1701,
 1712,
 1713,
 1715,
 1739,
 1798,
 1844,
 1857,
 1894,
 1957,
 1958,
 1964,
 1972,
 1977,
 2001,
 2018,
 2149,
 2169,
 2180,
 2225,
 2228,
 2234,
 2238,
 2248,
 2306,
 2343,
 2368,
 2385,
 2395,
 2400,
 2407,
 2409,
 2438,
 2443,
 2450,
 2452,
 2456,
 2534,
 2537,
 2540,
 2543,
 2554,
 2565,
 2573,
 2599,
 2603,
 2612,
 2626,
 2627,
 2683,
 2684,
 2685,
 2689,
 2764,
 2768,
 2786,
 2800,
 2826,
 2866,
 2883,
 2906,
 2917,
 2930,
 2932,
 2935,
 2945,
 2950,
 2959,
 2971,
 2976,
 2977,
 2987,
 2995,
 3036,
 3040,
 3044,
 3054,
 3085,
 3108,
 3119,
 3130,
 3135,
 3159,
 3168,
 3181,
 3197,
 3213,
 3214,
 3217,
 3226,
 3228,
 3329,
 3380,
 3450,
 3493,
 3531,
 3558,
 3560,
 3579,
 3603,
 3633,
 3634,
 3714,
 3719,
 3736,
 3777,
 3800,
 3845,
 3849,
 3864,
 3926,
 3984,
 3990,
 3996,
 3998,
 3999,
 4001,
 4007,
 4017,
 4039,
 4059,
 4065,
 4106,
 4113,
 4134,
 4138,
 4142,
 4185,
 4191,
 4210,
 4250,
 4259,
 4269,
 4283,
 4285,
 4301,
 4309,
 4357,
 4373,
 4384,
 4439,
 4444,
 4460,
 4475,
 4504,
 4521,
 4540,
 4545,
 4547,
 4553,
 4561,
 4578,
 4621,
 4733,
 4748,
 4803,
 4836,
 4865,
 4883,
 4915,
 4944,
 4984,
 5063,
 5104,
 5111,
 5159,
 5184,
 5205,
 5220,
 5322,
 5340,
 5354,
 5406,
 5412,
 5422,
 5432,
 5435,
 5441,
 5445,
 5447,
 5479,
 5494,
 5508,
 5525,
 5539,
 5565,
 5567,
 5569,
 5571,
 5614,
 5617,
 5633,
 5655,
 5662,
 5685,
 5713,
 5726,
 5728,
 5796,
 5816,
 5895,
 5917,
 5921,
 5944,
 5996,
 6003,
 6030,
 6039,
 6044,
 6083,
 6095,
 6117,
 6127,
 6131,
 6138,
 6174,
 6178,
 6193,
 6202,
 6211,
 6254,
 6277,
 6284,
 6290,
 6303,
 6341,
 6346,
 6385,
 6403,
 6404,
 6411,
 6419,
 6423,
 6464,
 6498,
 6510,
 6514,
 6553,
 6610,
 6657,
 6849,
 6857,
 6859,
 6872,
 6910,
 6921,
 6963,
 6979,
 6989,
 6990,
 7005,
 7007,
 7032,
 7052,
 7055,
 7089,
 7098,
 7119,
 7128,
 7136,
 7142,
 7171,
 7190,
 7224,
 7225,
 7226,
 7246,
 7251,
 7266,
 7281,
 7283,
 7287,
 7293,
 7298,
 7329,
 7330,
 7340,
 7347,
 7364,
 7377,
 7379,
 7380,
 7382,
 7384,
 7385,
 7387,
 7392,
 7402,
 7415,
 7442,
 7453,
 7459,
 7460,
 7461,
 7469,
 7479,
 7488,
 7492,
 7493,
 7527,
 7558,
 7587,
 7590,
 7597,
 7611,
 7635,
 7651,
 7659,
 7737,
 7769,
 7772,
 7830,
 7848,
 7850,
 7851,
 7923,
 7966,
 8067,
 8068,
 8069,
 8077,
 8119,
 8140,
 8165,
 8180,
 8218,
 8268,
 8269,
 8331,
 8332,
 8387,
 8388,
 8392,
 8434,
 8436,
 8444,
 8530,
 8540,
 8574,
 8575,
 8595,
 8633,
 8666,
 8667,
 8668,
 8669,
 8687,
 8745,
 8891,
 8910,
 8952,
 8961,
 9081,
 9105,
 9263,
 9317,
 9330,
 9353,
 9391,
 9396,
 9411,
 9479,
 9514,
 9576,
 9623,
 9681,
 9748,
 9847,
 9898,
 9971,
 4,
 15,
 16,
 24,
 33,
 44,
 73,
 89,
 106,
 108,
 110,
 113,
 116,
 118,
 131,
 144,
 147,
 148,
 153,
 156,
 158,
 161,
 163,
 166,
 177,
 179,
 182,
 187,
 196,
 207,
 209,
 214,
 216,
 218,
 220,
 222,
 224,
 228,
 229,
 230,
 231,
 235,
 238,
 239,
 240,
 241,
 245,
 246,
 248,
 249,
 250,
 265,
 266,
 270,
 271,
 274,
 276,
 279,
 282,
 299,
 300,
 302,
 306,
 312,
 314,
 320,
 322,
 326,
 335,
 338,
 347,
 357,
 359,
 364,
 365,
 367,
 392,
 394,
 395,
 398,
 421,
 423,
 427,
 449,
 450,
 453,
 455,
 458,
 459,
 460,
 463,
 465,
 468,
 469,
 470,
 477,
 492,
 497,
 498,
 499,
 502,
 503,
 506,
 507,
 508,
 509,
 527,
 535,
 549,
 551,
 553,
 572,
 573,
 578,
 580,
 582,
 585,
 586,
 597,
 599,
 602,
 603,
 610,
 611,
 614,
 621,
 637,
 645,
 647,
 649,
 654,
 661,
 663,
 666,
 669,
 676,
 683,
 690,
 693,
 702,
 714,
 716,
 719,
 720,
 726,
 731,
 733,
 734,
 737,
 743,
 750,
 751,
 756,
 757,
 759,
 790,
 803,
 807,
 817,
 818,
 833,
 835,
 836,
 837,
 841,
 845,
 849,
 850,
 863,
 865,
 868,
 869,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 883,
 886,
 898,
 899,
 903,
 905,
 912,
 920,
 929,
 933,
 936,
 962,
 966,
 971,
 974,
 979,
 981,
 983,
 986,
 989,
 995,
 996,
 1000,
 1001,
 1009,
 1021,
 1025,
 1045,
 1047,
 1049,
 1053,
 1062,
 1068,
 1069,
 1070,
 1074,
 1076,
 1080,
 1086,
 1089,
 1093,
 1099,
 1102,
 1103,
 1105,
 1106,
 1109,
 1114,
 1120,
 1122,
 1123,
 1128,
 1134,
 1135,
 1139,
 1154,
 1157,
 1160,
 1166,
 1167,
 1171,
 1201,
 1206,
 1208,
 1209,
 1221,
 1227,
 1230,
 1234,
 1247,
 1248,
 1249,
 1270,
 1271,
 1275,
 1276,
 1277,
 1279,
 1280,
 1284,
 1286,
 1293,
 1294,
 1295,
 1307,
 1311,
 1314,
 1316,
 1319,
 1335,
 1341,
 1357,
 1360,
 1361,
 1362,
 1368,
 1371,
 1381,
 1382,
 1383,
 1384,
 1387,
 1397,
 1409,
 1410,
 1423,
 1424,
 1425,
 1428,
 1430,
 1431,
 1432,
 1439,
 1444,
 1449,
 1450,
 1472,
 1474,
 1482,
 1483,
 1486,
 1487,
 1488,
 1491,
 1493,
 1495,
 1503,
 1509,
 1512,
 1513,
 1518,
 1521,
 1523,
 1526,
 1533,
 1534,
 1537,
 1545,
 1550,
 1563,
 1569,
 1574,
 1580,
 1582,
 1593,
 1604,
 1611,
 1612,
 1618,
 1622,
 1626,
 1631,
 1634,
 1640,
 1651,
 1657,
 1660,
 1661,
 1663,
 1664,
 1666,
 1668,
 1674,
 1675,
 1690,
 1694,
 1706,
 1707,
 1716,
 1719,
 1720,
 1726,
 1728,
 1729,
 1748,
 1751,
 1758,
 1762,
 1763,
 1764,
 1765,
 1766,
 1774,
 1777,
 1786,
 1788,
 1790,
 1795,
 1807,
 1808,
 1810,
 1814,
 1815,
 1816,
 1817,
 1819,
 1821,
 1824,
 1827,
 1830,
 1836,
 1837,
 1846,
 1850,
 1853,
 1857,
 1860,
 1870,
 1875,
 1884,
 1886,
 1895,
 1898,
 1899,
 1912,
 1915,
 1920,
 1922,
 1925,
 1926,
 1930,
 1938,
 1945,
 1961,
 1962,
 1963,
 1965,
 1967,
 1968,
 1970,
 1974,
 1982,
 1983,
 1986,
 2009,
 2010,
 2032,
 2037,
 2038,
 2039,
 2041,
 2049,
 2052,
 2053,
 2054,
 2060,
 2066,
 2069,
 2070,
 2075,
 2083,
 2094,
 2112,
 2114,
 2123,
 2126,
 2130,
 2136,
 2137,
 2138,
 2141,
 2147,
 2152,
 2153,
 2156,
 2161,
 2167,
 2168,
 2173,
 2178,
 2180,
 2184,
 2194,
 2198,
 2201,
 2203,
 2209,
 2211,
 2213,
 2215,
 2216,
 2223,
 2229,
 2235,
 2236,
 2245,
 2250,
 2253,
 2254,
 2260,
 2269,
 2270,
 2273,
 2275,
 2280,
 2283,
 2286,
 2292,
 2293,
 2294,
 2296,
 2307,
 2310,
 2311,
 2330,
 2332,
 2338,
 2345,
 2349,
 2352,
 2357,
 2358,
 2361,
 2363,
 2364,
 2367,
 2374,
 2382,
 2388,
 2389,
 2392,
 2403,
 2405,
 2408,
 2410,
 2415,
 2416,
 2417,
 2422,
 2432,
 2433,
 2435,
 2439,
 2440,
 2447,
 2449,
 2459,
 2460,
 2461,
 2464,
 2465,
 2466,
 2468,
 2472,
 2473,
 2486,
 2487,
 2490,
 2492,
 2495,
 2496,
 2498,
 2499,
 2502,
 2509,
 2510,
 2515,
 2525,
 2536,
 2557,
 2560,
 2561,
 2562,
 2569,
 2571,
 2575,
 2590,
 2591,
 2595,
 2609,
 2615,
 2617,
 2636,
 2638,
 2641,
 2646,
 2647,
 2659,
 2672,
 2681,
 2686,
 2688,
 2690,
 ...]

In [15]:
just_data=kaggle_data_df.drop(drop_jrs_seniors)

In [16]:
just_data["job_title"]="data scientist"

In [17]:
frames=[just_data, jrs_seniors]
clean_roles=pd.concat(frames)
clean_roles

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description,index
0,2019-02-06 05:26:22 +0000,https://www.indeed.com/viewjob?jk=fd83355c2b23...,data scientist,Accounting/Finance,Farmers Insurance Group,Woodland Hills,CA,Usa,Woodland hills,California,...,Undefined,NaN,indeed,usa,1549432819114777,NaN,NaN,3b6c6acfcba6135a31c83bd7ea493b18,NaN,NaN
1,2019-02-06 05:33:41 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,data scientist,NaN,Luxoft USA Inc,Middletown,NJ,Usa,Middletown,New jersey,...,Undefined,NaN,dice,usa,1549432819122106,NaN,NaN,741727428839ae7ada852eebef29b0fe,NaN,NaN
2,2019-02-06 05:33:35 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,data scientist,NaN,Cincinnati Bell Technology Solutions,New York,NY,Usa,New york,New york,...,Full Time,NaN,dice,usa,1549432819236156,NaN,NaN,cdc9ef9a1de327ccdc19cc0d07dbbb37,NaN,NaN
6,2019-02-06 05:34:37 +0000,https://www.indeed.com/viewjob?jk=c6db96b37f8a...,data scientist,Accounting/Finance,Spotify,New York,NY 10011 (Chelsea area),Usa,New york,New york,...,Undefined,NaN,indeed,usa,1549436429042348,NaN,NaN,0ec629c03f3e82651711f2626c23cadb,NaN,NaN
7,2019-02-06 05:52:12 +0000,https://www.dice.com/jobs/detail/Sr.-Data-Scie...,data scientist,NaN,Xoriant Corporation,Santa Clara,CA,Usa,Santa clara,California,...,Contract,NaN,dice,usa,1549436429042523,NaN,NaN,972e897473d65f34b8e7f1c1b4c74b1c,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2815,2019-10-01 02:59:10 +0000,https://job-openings.monster.com/senior-data-s...,senior data scientist,computer jobs,CyberCoders,Madison,NJ,Usa,Madison,New jersey,...,Undefined,NaN,monster,usa,1569902446223316,NaN,NaN,8686167d02de0df452e8a927396bfcd1,Senior Data Scientist <div><!--START_SECTION_1...,9980.0
2816,2019-09-28 00:56:24 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,Full Time,NaN,Stackoverflow,NaN,1569916869271418,NaN,NaN,2bb830621baea73276f8a653e0ab92fe,<h2>About this job</h2>\r\n<p><span>Location o...,9993.0
2817,2019-10-01 00:50:33 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,Full Time,NaN,Stackoverflow,NaN,1569916870211396,NaN,NaN,efe05f2364ee3df943e952bc68ed95a7,<h2>About this job</h2>\r\n<p><span>Location o...,9996.0
2818,2019-09-27 00:41:31 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,Full Time,NaN,Stackoverflow,NaN,1569916871226964,NaN,NaN,4b86da9d2b24b87ec3c815d9072ad616,<h2>About this job</h2>\r\n<p><span>Location o...,9998.0
2819,2019-09-27 00:53:10 +0000,https://stackoverflow.com/jobs/283895,senior data scientist,Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,Full Time,NaN,Stackoverflow,NaN,1569916871314055,NaN,NaN,4cbe57f790e3346d7154b68c9370b7ef,<h2>About this job</h2>\r\n<p><span>Location o...,9999.0

In [18]:
duplicates=kaggle_data_df.drop_duplicates(subset=["url"])
duplicates

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_description,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description
0,2019-02-06 05:26:22 +0000,https://www.indeed.com/viewjob?jk=fd83355c2b23...,enterprise data scientist i,Accounting/Finance,Farmers Insurance Group,Woodland Hills,CA,Usa,Woodland hills,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819114777,NaN,NaN,3b6c6acfcba6135a31c83bd7ea493b18,NaN
1,2019-02-06 05:33:41 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,data scientist,NaN,Luxoft USA Inc,Middletown,NJ,Usa,Middletown,New jersey,...,We have an immediate opening for a Sharp Data ...,Undefined,NaN,dice,usa,1549432819122106,NaN,NaN,741727428839ae7ada852eebef29b0fe,NaN
2,2019-02-06 05:33:35 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,data scientist,NaN,Cincinnati Bell Technology Solutions,New York,NY,Usa,New york,New york,...,Candidates should have the following backgroun...,Full Time,NaN,dice,usa,1549432819236156,NaN,NaN,cdc9ef9a1de327ccdc19cc0d07dbbb37,NaN
3,2019-02-06 05:33:42 +0000,https://www.indeed.com/viewjob?jk=841edd86ead2...,"data scientist, aladdin wealth tech, associate...",Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819259473,NaN,NaN,1c8541cd2c2c924f9391c7d3f526f64e,NaN
4,2019-02-06 05:48:23 +0000,https://job-openings.monster.com/senior-data-s...,senior data scientist,biotech,CyberCoders,Charlotte,NC,Usa,Charlotte,North carolina,...,We are seeking an extraordinary Data Scientist...,Full Time,NaN,monster,usa,1549436429015957,NaN,NaN,445652a560a5441060857853cf267470,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9988,2019-10-01 02:58:37 +0000,https://job-openings.monster.com/ux-data-scien...,ux data scientist w/python for r&d design cent...,computer jobs,OSI Engineering,San Francisco,CA,Usa,San francisco,California,...,Summary \nAs the Data Scientist on the Experi...,Full Time,NaN,monster,usa,1569902447061516,NaN,NaN,39f525051833018d9e5136c34ebc29c3,<span id='TrackingJobBody' name='TrackingJobBo...
9989,2019-10-01 05:39:23 +0000,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,Computer-or-internet,Echo Global Logistics,Computer-or-internet,Computer-or-internet,US,NaN,Oregon,...,Job description:\n\nThe Data Scientist within ...,Undefined,NaN,indeed,usa,1569913266876248,NaN,NaN,e2766a9c6e23dd8b30a9c0c763e0b18b,"<div id=""jobDescriptionText"" class=""jobsearch-..."
9990,2019-10-01 05:39:25 +0000,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,data scientist,Computer-or-internet,"Metron, Inc.",Computer-or-internet,Computer-or-internet,US,NaN,Oregon,...,Job Description\n\nOur Advanced Data Analytics...,Undefined,NaN,indeed,usa,1569913269562097,NaN,NaN,0e7981a5b3ddfe3e7751d2b0fae6e304,"<div id=""jobDescriptionText"" class=""jobsearch-..."
9991,2019-10-01 05:40:52 +0000,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"siri - embedded data scientist, data organization",Computer-or-internet,Apple,Computer-or-internet,Computer-or-internet,US,NaN,Oregon,...,"Summary\n\nPosted: Aug 14, 2019\n\nRole Number...",Undefined,NaN,indeed,usa,1569913269771070,NaN,NaN,451383e9fe456ad0a61bc0191d10873d,"<div id=""jobDescriptionText"" class=""jobsearch-..."
9992,2019-10-01 06:18:27 +0000,https://www.indeed.com/viewjob?jk=d4ffa48f3548...,geology/geo-data scientist,Engineering-or-architecture,"Albany, OR",Albany,OR,US,Albany,Oregon,...,Organization \n\nNational Energy Technology La...,Undefined,NaN,indeed,usa,1569913270950073,NaN,NaN,02274ff2a44343f06fd31cce1feaab61,"<div id=""jobDescriptionText"" class=""jobsearch-..."

In [19]:
clean_roles2=clean_roles.drop_duplicates(subset=["url"])
clean_roles2["job_title"].value_counts()

data scientist           6326
senior data scientist    2051
junior data scientist     365
Name: job_title, dtype: int64

In [20]:
clean_roles2.to_csv("clean_data.csv")

In [21]:
clean_roles2=clean_roles2[[
 'job_title',
 'category',
 'company_name',
    'url',
 'city',
 'state',
 'country',
 'job_description',
 'job_type',
 'salary_offered',
 'job_board']]

In [22]:
clean_roles2.to_csv("clean_data.csv")

In [23]:
clean_roles2["state"].value_counts()

CA                             1387
NY                              509
TX                              466
VA                              463
MA                              436
                               ...
NY 10176 (Murray Hill area)       1
NN                                1
VA 22107                          1
TX 77046 (Montrose area)          1
GA 30063                          1
Name: state, Length: 744, dtype: int64

In [24]:
salaries=["$80K - $100K",
"$100K - $150K",
"$150K - $200K",
"$200K - $250K",
"$250K - $500K"]

In [25]:
only_salaried=clean_roles2[clean_roles2["salary_offered"].isin(salaries)]
only_salaried

,job_title,category,company_name,url,city,state,country,job_description,job_type,salary_offered,job_board
8675,data scientist,Data Scientist - Cross Asset Desk Strategist Team,Morgan Stanley,https://www.theladders.com/job/data-scientist-...,New York,NY,US,DESCRIPTION Morgan Stanley's business around t...,Full Time,$80K - $100K,NaN
8755,data scientist,TV Data Scientist,LiveRamp,https://www.theladders.com/job/tv-data-scienti...,Burlington,MA,US,Our services power people-based customer exper...,Full Time,$100K - $150K,NaN
8756,data scientist,TV Data Scientist,LiveRamp,https://www.theladders.com/job/tv-data-scienti...,Burlington,MA,US,ABOUT THIS JOB TV is one of the key growth are...,Full Time,$100K - $150K,NaN
8760,data scientist,Vice President - AML Business Analyst - Data S...,BNP Paribas,https://www.theladders.com/job/vice-president-...,Jersey City,NJ,US,Business Overview: The U.S. Financial Security...,Full Time,$200K - $250K,NaN
8763,data scientist,Healthcare Data Scientist,Philips,https://www.theladders.com/job/healthcare-data...,Cambridge,MA,US,A team of informatics scientists within the Cl...,Full Time,$80K - $100K,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2798,senior data scientist,Senior Data Scientist,Omnicell,https://www.theladders.com/job/senior-data-sci...,Mountain View,CA,US,Artificial intelligence is revolutionizing the...,Full Time,$150K - $200K,NaN
2799,senior data scientist,"Data Scientist, Senior",Booz Allen Hamilton,https://www.theladders.com/job/data-scientist-...,Alexandria,VA,US,"Data Scientist, Senior The Challenge: Are you ...",Full Time,$80K - $100K,NaN
2800,senior data scientist,Senior Data Scientist,IBM,https://www.theladders.com/job/senior-data-sci...,Austin,TX,US,"Senior Data Scientist, IBM Corporation, Austin...",Full Time,$80K - $100K,NaN
2801,senior data scientist,Senior Data Scientist,TIBCO,https://www.theladders.com/job/senior-data-sci...,Palo Alto,CA,US,Our teams flourish on new ideas and welcome in...,Full Time,$80K - $100K,NaN
2802,senior data scientist,Senior Data Scientist,"Bechtel Plant Machinery, Inc",https://www.theladders.com/job/senior-data-sci...,Reston,VA,US,Bechtel Corporation is seeking a talented and ...,Full Time,$100K - $150K,NaN

In [26]:
only_salaried["state"].value_counts()

CA    148
NY     64
VA     43
TX     32
IL     31
WA     28
MA     26
GA     19
OH     18
PA     15
MD     14
NJ     14
MN     14
NC     11
DC     10
FL     10
CO      9
MI      8
MO      7
UT      7
CT      6
WI      5
OR      5
RI      4
AL      4
TN      4
AZ      4
AR      2
ID      2
NH      1
SC      1
KY      1
DE      1
Name: state, dtype: int64